@use "sass:math";

// Обнуление
@use "null";

// Подключение шрифтов
@import "https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset";

// Стили тега BODY
body {
  transition: all 0.3s ease 0s;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

// Оболочка app
.app {
  min-height: 100%;
  display: flex;
}

.page {
  padding-top: to-rem(30);
}

// Оболочка wrapper
.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: to-rem(56);

  @supports (overflow: clip) {
    overflow: clip;
  }

  // Прижимаем footer
  > main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Ограничивающий контейнер
// (i) Стили будут применяться ко
// всем классам, содержащим *__container
// Например header__container, main__container и т.п.
// Сниппет (HTML): cnt

@if $responsive-type == 1 {
  // Отзывчивый
  [class*="__container"] {
    @if $max-width-container > 0 {
      max-width: to-rem($container-width);
      margin: 0 auto;
    }

    @if $container-padding > 0 {
      @if $max-width-container > 0 {
        padding: 0 to-rem(math.div($container-padding, 2));
      } @else {
        @include adaptive-value(
          "padding-left",
          math.div($container-padding, 2),
          15
        );
        @include adaptive-value(
          "padding-right",
          math.div($container-padding, 2),
          15
        );
      }
    }
  }
} @else {
  // С брейкпоинтами
  [class*="__container"] {
    margin: 0 auto;

    @if $max-width-container > 0 {
      max-width: to-rem($container-width);
    } @else {
      @if $container-padding > 0 {
        padding: 0 to-rem(math.div($container-padding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: to-rem(970);
    }

    @media (max-width: $tablet) {
      max-width: to-rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;

      @if $container-padding > 0 and $max-width-container > 0 {
        padding: 0 to-rem(math.div($container-padding, 2));
      }
    }
  }
}
