.loader {
  --loader-size: 50px;
  --loader-color-outer: var(--primary);
  --loader-color-inner: var(--secondary);

  &.loader-white {
    --loader-color-outer: #fff;
    --loader-color-inner: rgb(255 255 255 / 30%);
  }

  width: var(--loader-size);
  aspect-ratio: 1;
  display: grid;
  border: calc(var(--loader-size) * 0.08) solid;
  border-radius: 50%;
  border-color: var(--loader-color-outer) #0000;
  animation: l16 1s infinite linear;

  &::before,
  &::after {
    content: "";
    grid-area: 1 / 1;
    margin: calc(var(--loader-size) * 0.04);
    border: inherit;
    border-radius: 50%;
  }

  &::before {
    border-color: var(--loader-color-inner) #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  &::after {
    margin: calc(var(--loader-size) * 0.16);
  }
}

@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}
