@import '~@styles/base/mixins';

.login-form {
  padding-block: to-rem(18);
  display: flex;
  flex-direction: column;

  &__title {
    font-size: to-rem(24);
    margin-bottom: to-rem(24);
    color: var(--text-primary);
  }

  // .login-form__input

  &__input {
    &:not(:last-child) {
      margin-bottom: to-rem(18);
    }
  }

  // .login-form__button

  &__button {
  }

  // .login-form__error
  &__error {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    color: var(--color-error);
    font-size: to-rem(12);
    align-self: flex-end;
    transition: all 0.3s;
    margin-bottom: 0;

    .error & {
      max-height: 100%;
      opacity: 1;
      visibility: visible;
      margin-bottom: to-rem(18);
    }
  }
}
