{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "block-no-empty": null,
    "number-max-precision": 6
  }
}