.comment-form {
  display: flex;
  align-items: center;
  gap: to-rem(8);
  margin-bottom: to-rem(12);

  // .comment-form__input

  &__input {
    flex-grow: 1;
  }

  // .comment-form__button

  &__button {
    width: to-rem(120);
  }
}
