@import '../../../shared/ui/styles/mixins';

.footer {
  border-top: 1px solid #7f8c8d66;
  border-radius: to-rem(10) to-rem(10) 0 0;

  // .footer__container

  &__container {
    padding-block: to-rem(20);
  }
}
