.sidebar {
  transition: all 0.3s ease 0s;
  width: to-rem(250);
  background-color: var(--bg-secondary);
  border-radius: 0 to-rem(10) to-rem(10) 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: var(--sidebar-z-index);

  &.collapsed {
    width: to-rem(56);
  }

  // .sidebar__body

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-inline: to-rem(12);
    padding-block: to-rem(14);
  }

  // .sidebar__items

  &__items {
    margin-top: to-rem(20);
    padding-top: to-rem(17);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: to-rem(12);
    width: 100%;
  }

  // .sidebar__item

  &__item {
    display: flex;
    align-items: center;
    gap: to-rem(12);
    padding: to-rem(3);

    svg {
      flex: 0 0 to-rem(24);
      width: to-rem(24);
      height: to-rem(24);
      overflow: hidden;
      margin-right: to-rem(24);
    }

    p {
      white-space: nowrap;
      padding-top: to-rem(4);
      transition:
        transform 0.3s,
        visibility 0.3s,
        opacity 0.3s;

      .collapsed & {
        transform: translateX(-100%);
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  // .sidebar__open-button

  &__open-button {
    color: var(--primary);

    .collapsed & {
      transform: rotate(180deg);
    }
  }

  // .sidebar__theme-button

  // &__theme-button {}
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: to-rem(3);
  font-size: to-rem(24);
  transition: all 0.3s ease 0s;
}
