@import '../../../shared/ui/styles/mixins';

.sidebar {
  transition: all 0.3s ease 0s;
  width: to-rem(250);
  background-color: var(--bg-secondary);
  border-radius: 0 to-rem(10) to-rem(10) 0;

  &.collapsed {
    width: to-rem(60);
  }

  // .sidebar__body

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: to-rem(15);
    align-items: start;
  }

  // .sidebar__labels

  &__labels {
    flex: 1 1 auto;
  }

  // .sidebar__open-button

  &__open-button {
    color: var(--primary);

    .collapsed & {
      transform: rotate(180deg);
    }
  }

  // .sidebar__theme-button

  // &__theme-button {}
}
