@import '../../../shared/ui/styles/mixins';

.not-found {
  height: 100%;

  // .not-found__container
  &__container {
    height: 100%;
  }

  // .not-found__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  // .not-found__title

  &__title {
    color: var(--accent);

    @include adaptive-value('font-size', 32, 16);

    &:not(:last-child) {
      margin-bottom: to-rem(20);
    }
  }

  // .not-found__link

  &__link {
    color: var(--text-secondary);
  }
}
