@import '../../../shared/ui/mixins/mixins';

.header {
  transition: background-color 0.3s ease 0s;
  background-color: var(--bg-primary);
  border-bottom: 1px solid #7f8c8d66;

  &__container {
    padding-block: to-rem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
  }

  &__links {
    display: flex;
    align-items: center;
    gap: to-rem(20);
    flex-grow: 1;
  }
}
