@import "../../../shared/ui/mixins/mixins";

.header {
  transition: background-color 0.3s ease 0s;
  background-color: var(--bg-primary);
  border-bottom: 1px solid rgba(127, 140, 141, 0.4);

  &__container {
    padding-block: toRem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
  }

  &__links {
    display: flex;
    align-items: center;
    gap: toRem(20);
    flex-grow: 1;
  }
}
