.article-textblock {
  &__title {
    font-size: to-rem(18);
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: to-rem(12);
    }
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: to-rem(8);
    }
  }
}
