@import '../../../../shared/ui/styles/mixins';

.loader {
  width: to-rem(50);
  aspect-ratio: 1;
  display: grid;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--primary) #0000;
  animation: l16 1s infinite linear;

  &::before,
  &::after {
    content: '';
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }

  &::before {
    border-color: var(--secondary) #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  &::after {
    margin: 8px;
  }
}

@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}
