// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$font-family: 'Montserrat';
$font-size: to-rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$min-width: 320;

// Ширина полотна (макета)
$max-width: 1920;

// Ширина ограничивающего контейнера (0 = нет ограничения)
$max-width-container: 0;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$container-padding: 20;

// Ширина срабатывания первого брейкпоинта
$container-width: $max-width-container + $container-padding;

// Брейк-поинты
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: to-em($container-width);

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet: to-em(991.98);

// Телефоны L
$mobile: to-em(767.98);

// Телефоны S
$mobile-small: to-em(479.98);

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейкпоинтам (контейнер изменяет свою ширину по брейкпоинтам)
$responsive-type: 1;
