// ===============
// Палитра цветов
// ===============
html[data-theme='light'] {
  // Site colors (Цвета сайта):
  // =================================================================
  --primary: #3498db; // Site main color - (Основной цвет сайта)
  --secondary: #2ecc71; // Site secondary color - (Дополнительный цвет сайта)
  --accent: #e74c3c; // Site accent color - (Например: кнопки действия, заголовки, ссылки)
  --inverse: #fff; // Site inverse color - (Например: для создания контраста между фоном и текстом)

  // Background colors (Фоновые цвета):
  // =================================================================
  --bg-primary: #ecf0f1; // BG primary background color - (Основной фоновый цвет сайта)
  --bg-secondary: #bdc3c7; // BG secondary background color - (Дополнительный фоновый цвет сайта)
  --bg-accent: #f1c40f; // BG accent - например, может быть использован для установки цвета фона для акцентных элементов, таких как кнопки или иконки.
  --bg-inverse: #34495e; // BG inverse - например, может использоваться для настройки цвета фона на светлом тексте.

  // Text colors (Текстовые цвета):
  // =================================================================
  --text-primary: #2c3e50; // Text primary text color - (Основной текстовый цвет сайта)
  --text-secondary: #7f8c8d; // Text secondary text color - (Дополнительный текстовый цвет сайта)
  --text-accent: #e67e22; // Text accent - например, может использоваться для установки цвета текста для акцентных элементов на странице, таких как заголовки или кнопки.
  --text-inverse: #fff; // Text inverse - например, может использоваться для настройки цвета текста на темном фоне.
  // =================================================================
}

html[data-theme='dark'] {
  // Site colors (Цвета сайта):
  // =================================================================
  --primary: #8e44ad; // Site main color - (Основной цвет сайта)
  --secondary: #2980b9; // Site secondary color - (Дополнительный цвет сайта)
  --accent: #c0392b; // Site accent color - (Например: кнопки действия, заголовки, ссылки)
  --inverse: #ecf0f1; // Site inverse color - (Например: для создания контраста между фоном и текстом)

  // Background colors (Фоновые цвета):
  // =================================================================
  --bg-primary: #2c3e50; // BG primary background color - (Основной фоновый цвет сайта)
  --bg-secondary: #34495e; // BG secondary background color - (Дополнительный фоновый цвет сайта)
  --bg-accent: #16a085; // BG accent - например, может быть использован для установки цвета фона для акцентных элементов, таких как кнопки или иконки.
  --bg-inverse: #ecf0f1; // BG inverse - например, может использоваться для настройки цвета фона на темном тексте.

  // Text colors (Текстовые цвета):
  // =================================================================
  --text-primary: #ecf0f1; // Text primary text color - (Основной текстовый цвет сайта)
  --text-secondary: #95a5a6; // Text secondary text color - (Дополнительный текстовый цвет сайта)
  --text-accent: #f39c12; // Text accent - например, может использоваться для установки цвета текста для акцентных элементов на странице, таких как заголовки или кнопки.
  --text-inverse: #2c3e50; // Text inverse - например, может использоваться для настройки цвета текста на светлом фоне.
  // =================================================================
}
